.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.header {
  flex: 0 1 auto;
  background-color: black;
  color: white;
}
.content {
  flex: 1 1 auto;
  overflow-y: hidden;
  display: flex;
}
.footer {
  flex: 0 1 10px;
  text-align: right;
  background-color: black;
  color: white;
}
.left {
  flex: 1 1 auto;
  overflow-y: auto;
  width: 40%;
}
.right {
  flex: 1 1 auto;
  overflow-y: scroll;
  width: 60%;
  font-size: 0.8em;
}
.section {
  border: 1px solid;
  margin-left: 5%;
}
input {
  width: 100%;
}
